<p id="notice"><%= notice %></p>
<!--headerのロゴリンクを、dogrun/indexページにする
-->
<h1>Pets</h1>
<%= @time %>



<!--<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>写真</th>
      <th>性格</th>
      <th>コメント</th>
      <th>User</th>
      <th>Letter</th>
      <th>Letter2</th>
      <th>Letter3</th>
      <th>Zzimage</th>
      <th>Runimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <!--<tbody>-->
  <div class = "room-show-image">
    <% @pets.each do |pet| %>
      
        <p><%= pet.name %></p>
        <% if (@time >= '06' and  @time <= '11') || (@time >= '14' and  @time <= '22') %>
          <%= image_tag pet.image , class:'fluffy' %><p>元気</p>
        <% elsif @time = '12' %>
          <%= image_tag pet.runimage , class:'ikari'%><p>怒ってる</p>
       <% else %>
          <%= image_tag pet.zzimage ,class:'zzz'%><p>昼寝</p>
        <% end %>
    </div>
        <p><%= pet.kind %><p>
        <p><%= pet.pr %><p>
       <!-- <td><%= pet.user_id %></td>
        <td><%= pet.letter %></td>
        <td><%= pet.letter2 %></td>
        <td><%= pet.letter3 %></td>
        <td><%= image_tag pet.zzimage %></td>
        <td><%= image_tag pet.runimage %></td>-->
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>

