<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pet.image %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Pr:</strong>
  <%= @pet.pr %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user_id %>
</p>

<p>
  <strong>Letter:</strong>
  <%= @pet.letter %>
</p>

<p>
  <strong>Letter2:</strong>
  <%= @pet.letter2 %>
</p>

<p>
  <strong>Letter3:</strong>
  <%= @pet.letter3 %>
</p>

<p>
  <strong>Zzimage:</strong>
  <%= @pet.zzimage %>
</p>

<p>
  <strong>Runimage:</strong>
  <%= @pet.runimage %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pet.hp %>
</p>

<p>
  <strong>Pp:</strong>
  <%= @pet.pp %>
</p>

<p>
  <strong>Yobi:</strong>
  <%= @pet.yobi %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
